<div th:replace="~{/fragments/container :: container(~{::main})}">
  <main>
    <script src="/js/admin/users.js" defer></script>
    <link rel="stylesheet" href="/css/admin/users.css" />
    <h3>Admin Users page</h3>
    <div class="mx-auto mt-3 row" id="div-main-content">
      <div class="col-12 my-3" style="text-align: center">
        <b>User Code</b> 를 클릭하여 사용자 상세 정보 조회
      </div>

      <!-- 검색, 정렬, 필터 조건 -->
      <div id="div-conditions" class="mb-3">
        <form class="row mb-0" id="form-conditions">
          <input type="hidden" id="hidden-current-page" class="visible-hidden" name="pageNum" />
          <div class="col-2" id="div-search">
            <div>
              <label for="text-search-keyword" class="form-label">검색</label>
              <input type="text" class="form-control" id="text-search-keyword" name="searchKeyword" placeholder="UserId 로 검색..." />
            </div>
          </div>
          <div class="col-2" id="div-filter">
            <div>
              <label for="select-filter-type" class="form-label">필터 유형</label>
              <select id="select-filter-type" class="form-select" name="filterType">
                <option value="select">선택...</option>
                <option value="role">권한</option>
                <option value="isenabled">활성화 여부</option>
                <option value="islocked">잠김 여부</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <label class="form-label">필터 값</label>
            <div id="div-filter-select" class="col">
              <span class="text-secondary">필터 유형을 선택하여 값 선택</span>
            </div>
            <div id="div-filter-role" class="col">
              <th:block th:each="role : ${filter_Role}">
                <input type="checkbox" th:id="|chk-filter-${role.name()}|" th:value="${role}"
                       class="form-control" name="filterValue" />
                <label th:for="|chk-filter-${role.name()}|" th:text="${role.name()}" class="form-label"></label>
              </th:block>
            </div>
            <div id="div-filter-isenabled" class="col">
              <th:block th:each="isEnabled : ${filter_IsEnabled}">
                <input type="checkbox" th:id="|chk-filter-${isEnabled.name()}|" th:value="${isEnabled}"
                       class="form-control" name="filterValue" />
                <label th:for="|chk-filter-${isEnabled.name()}|" th:text="${isEnabled.getDescription()}" class="form-label"></label>
              </th:block>
            </div>
            <div id="div-filter-islocked" class="col">
              <th:block th:each="isLocked : ${filter_IsLocked}">
                <input type="checkbox" th:id="|chk-filter-${isLocked.name()}|" th:value="${isLocked}"
                       class="form-control" name="filterValue" />
                <label th:for="|chk-filter-${isLocked.name()}|" th:text="${isLocked.getDescription()}" class="form-label"></label>
              </th:block>
            </div>
          </div>
          <div class="col-2" id="div-sorting">
            <div>
              <label for="select-sorting-type" class="form-label">정렬 유형</label>
              <select id="select-sorting-type" class="form-select" name="sortingType">
                <option value="userId" selected>User Id</option>
                <option value="userCode">User Code</option>
                <option value="email">Email</option>
              </select>
            </div>
          </div>
          <div class="col-3 row">
            <input type="button" class="form-control btn btn-primary-filled col" onclick="getNewSearch()" value="검색"/>
            <input type="button" class="form-control btn btn-secondary-outlined col" onclick="re()" value="초기화"/>
          </div>
        </form>
      </div>

      <!-- 사용자 정보 렌더링 -->
      <div class="col-12 my-0">
        <div id="div-has-data">
          <table id="table-users">
            <thead>
            <tr>
              <th style="width: 35%" class="p-1">User Code</th>
              <th style="width: 10%" class="p-1">User Id</th>
              <th style="width: 25%" class="p-1">Email</th>
              <th style="width: 10%" class="p-1">Role</th>
              <th style="width: 10%" class="p-1">Is Enabled</th>
              <th style="width: 10%" class="p-1">Is Locked</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div id="div-has-no-data" class="visible-hidden hidden row">
          <span class="text-secondary col" style="text-align: center">검색 결과가 없습니다.</span>
        </div>
      </div>

      <!-- 페이징 -->
      <div class="col-12 row mt-3 mb-1" id="div-paging">
        <!-- 이전 페이지 버튼 -->
        <div class="col-1 row" id="div-paging-left"></div>

        <!-- 페이지 번호 -->
        <span class="col row" id="span-pages"></span>

        <!-- 다음 페이지 버튼 -->
        <div class="col-1 row" id="div-paging-right"></div>
      </div>
    </div>
  </main>
</div>