#template-title-n-new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 3rem;
    height: fit-content;
    grid-gap: 1rem;
    border: 1px solid black;
}
#template-title {
    grid-column: 1 / 2;
    text-align: left;
}
#template-new {
    grid-column: 2 / 3;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: end;
}

#template-list-conditions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10dvw, 1fr));
    width: 100%;
    min-height: 3rem;
    height: fit-content;
    border: 1px solid black;
}

#template-list {
    display: block;
    width: 100%;
    min-height: 20dvh;
    height: fit-content;
    border: 1px solid black;
}

#template-pagination {
    display: block;
    width: 100%;
    min-height: 3rem;
    height: fit-content;
    border: 1px solid black;
}