div#div-main-content {
    width: 100%;
    border: 1px solid black;
}

table#table-users {
    width: 99%;
    border-collapse: collapse;
}

table, thead, tbody, tr, th, td {
    border: 1px solid black;
}

div#div-paging > span#span-pages > span {
    text-align: center;
    cursor: pointer;
}