// 주요 테마 색상
$primary: rgb(203, 165, 131);
$secondary: rgb(108, 117, 125);
$success: rgb(25, 135, 84);
$danger: rgb(220, 53, 69);
$warning: rgb(255, 193, 7);
$info: rgb(29, 191, 236);

// 흰색 - 검은색 스펙트럼
$white: #fff;
$grey-100: darken($white, 10%);
$grey-200: darken($white, 20%);
$grey-300: darken($white, 30%);
$grey-400: darken($white, 40%);
$grey-500: darken($white, 50%);
$grey-600: darken($white, 60%);
$grey-700: darken($white, 70%);
$grey-800: darken($white, 80%);
$grey-900: darken($white, 90%);
$black: #000;

$theme-color-variants: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info
);

$grey-scale-variants: (
    $white, $grey-100, $grey-200, $grey-300, $grey-400,
    $grey-500, $grey-600, $grey-700, $grey-800, $grey-900, $black 
);
