/*

css/screen/variables.css

웹 사이트 전역에서 사용 될 css 변수 정의한 파일.
컬러, 너비 등 정의.
html 에 불러오는 모든 css 파일 중 가장 먼저 로딩해야 함.

*/

@use 'colors' as c;
@use 'color-functions' as cf;

:root {
    --border-color: #{c.$grey-900}; /* 테두리 컬러 */
    --bg-color: #{c.$white}; /* 배경 컬러 */
    --text-color: #{c.$black}; /* 텍스트 컬러 */
    --point-color: #{c.$primary}; /* 포인트 컬러 */
    --cancel-color: #{c.$grey-700}; /* 취소 컬러 (할인 전 가격, 솔드 아웃 등) */
    --innerMenu-width: 10rem; /* 왼쪽 메뉴 바 너비 */
    --border-radius: .375rem; /* border radius */

    @each $key, $value in c.$theme-color-variants {
        --color-#{$key}: #{$value};
    }

    @each $key, $value in c.$grey-scale-variants {
        --color-#{$key}: #{$value};
    }
}

